# Build and Release Folders
bin-debug/sudo python setup.py install3
bin-release/
[Oo]bj/
[Bb]in/

# Other files and folders
.settings/flight-manual.atom.io/content/upgrading-to-1-0-apis/sections/upgrading-your-ui-theme-or-package-selectors.md

# Executables
*.swf
*.air
*.ipa
*.apk

# Project files, i.e. `.project`, `.actionScriptProperties` and `.flexProperties`
# should NOT be excluded as they contain compiler settings and other important
# information for Eclipse / Flash Builder.
